<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog</title>
</head>
<body>

<nav> <!-- 헤더가 네비게이션 역할을 할거니까 -->
    <ul> <!-- 헤더 -->
        <li>
            <a href="/">홈</a>
        </li>
    </ul>
</nav>

<hr> <!-- 줄긋기 -->

<section>
        <div>
            제목 : {{detailModels.title}}
        </div>
        <div>
            내용
        </div>
        <div>
            {{detailModels.content}}
        </div>
        <div>
            작성 날짜 : {{detailModels.createdAt}}
        </div>
</section>

</body>
</html>